absl-py
addict
annotated-doc
annotated-types
anyio
attrs
basicsr>=1.4.2
certifi
charset-normalizer
click
colorama
contourpy
cycler
facexlib>=0.3.0
fastapi
filelock
filterpy
flatbuffers
fonttools
fsspec
future
gfpgan>=1.3.8
grpcio
h11
httpcore
httpx
idna
ImageIO
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lazy-loader
llvmlite
lmdb
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numba
numpy==1.26.4
nvidia-ml-py
onnxruntime
opencv-python>=4.8.0,<4.11.0
packaging
pillow
platformdirs
polars
pooch
protobuf
psutil
pydantic
pydantic_core
PyMatting
pyparsing
python-dateutil
python-multipart
PyYAML
realesrgan>=0.3.0
referencing
rembg>=2.0.50,<2.0.60
requests
rpds-py
scikit-image
scipy>=1.11.4,<1.14.0
setuptools
six
starlette
sympy
tb-nightly
tensorboard-data-server
tifffile
torch
torchvision
tqdm
typing-inspection
typing_extensions
ultralytics
ultralytics-thop
urllib3
uvicorn
Werkzeug
yapf